

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
   

  body{
    margin: 0px; 
    background-color: #F0E5E7;
}

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 50px;
    background-color: #CC70A3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 1000;
    
  }
  
    main{
      margin-top: 15vh;
      


  }
  
  
  .slider {
    position: relative;
    width: 1000px;
    overflow: hidden;
    border-radius: 10px;
  }

  .slider-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    
  }
  
  .slides {
    transition: transform 0.5s ease-in-out;
    height: 400px;
    width: 1000px;
    display: flex;
    
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 50px;
    background: #ccc;
    font-size: 24px;
    font-weight: bold;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
    border-radius: 50%;
  }
  
  button.prev {
    left: 10px;
  }
  
  button.next {
    right: 10px;
  }
  
  button:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  h2{
    text-align: center;
  }
 
  .container-cosmetics{
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   align-items: flex-start;
   align-content: space-evenly;
   flex-wrap: wrap;
   margin-bottom: 72px;
  
}
  .body-cosmetic{
    width: 147px;
    height: 220px;
    border-radius: 15px;
  
}
h2{
  margin-bottom: 40vh;
  
}
.text-main{
  text-align: center;

}

  
 .footer{

  }
